<a href="https://colab.research.google.com/github/KARTIKEYgarg1/machineLearning/blob/main/multipleRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

In [14]:
df=pd.read_csv("Book2.csv")
import math
med=math.floor(df.bedroom.median())
print(med)
df=df.fillna(value={"bedroom":med})
df

3

   area  bedroom  age    price
0  2600      3.0   20  5550000
1  3000      4.0   15  5650000
2  3200      3.0   18  6100000
3  3600      3.0   30  5950000
4  4000      5.0    8  7600000

In [16]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [25]:
# reg.predict([[2700,3.0,14]])
ar=int(input("Enter area"))
bd=int(input("Enter number of bedroom"))
ag=int(input("Enter age"))
pr=reg.predict([[ar,bd,ag]])

Enter area5
Enter number of bedroom6
Enter age9

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

In [26]:
d=pd.read_csv("Book2.csv")
d['area']=pd.Series(ar)
d['bedroom']=pd.Series(bd)
d['age']=pd.Series(ag)
d['price']=pd.Series(pr)
d=d.dropna()
d.to_csv("Book2.csv",mode='a',index=False,header=False)
d

   area bedroom  age      price
0   5.0       6  9.0  1792700.0

In [29]:
df.sort_values(by=['area','age'])

     area  bedroom   age      price
5     5.0      6.0   9.0  1792700.0
0  2600.0      3.0  20.0  5550000.0
1  3000.0      4.0  15.0  5650000.0
2  3200.0      NaN  18.0  6100000.0
3  3600.0      3.0  30.0  5950000.0
4  4000.0      5.0   8.0  7600000.0